.bg-green-300{
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background-color: forestgreen;
    color: black;
    border-radius: 8px;
  }
}
.bg-antiquewhite {
  background-color: antiquewhite;
}
