<header class="text-gray-600 body-font" style="backdrop-filter: blur(10px);">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <a href="/">
        <img src="assets/img/Logo.png" width="50" alt="Logo" srcset="" />
      </a>

      <span class="ml-3 text-xl">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">NutriCampus</font>
        </font>
      </span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a routerLink="/about" class="mr-5 hover:text-green-500 hover:underline hover:font-bold relative group">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Sobre nosotros</font>
        </font>
        <!-- Código a integrar -->
        <div class="h-0.5 bg-green scale-x-0 group-hover:scale-x-100 transition-transform origin-left rounded-full duration-300 ease-out absolute bottom-0 left-0 right-0"></div>
      </a>
      <a routerLink="/diet" class="mr-5 hover:text-green-500 hover:underline hover:font-bold relative group">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Dietas</font>
        </font>
        <!-- Código a integrar -->
        <div class="h-0.5 bg-green scale-x-0 group-hover:scale-x-100 transition-transform origin-left rounded-full duration-300 ease-out absolute bottom-0 left-0 right-0"></div>
      </a>
      <a routerLink="/ejercicios" class="mr-5 hover:text-green-500 hover:underline hover:font-bold relative group">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Rutinas</font>
        </font>
        <!-- Código a integrar -->
        <div class="h-0.5 bg-green scale-x-0 group-hover:scale-x-100 transition-transform origin-left rounded-full duration-300 ease-out absolute bottom-0 left-0 right-0"></div>
      </a>
      <a routerLink="/contacto" class="mr-5 hover:text-green-500 hover:underline hover:font-bold relative group">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Contacto</font>
        </font>
        <!-- Código a integrar -->
        <div class="h-0.5 bg-green scale-x-0 group-hover:scale-x-100 transition-transform origin-left rounded-full duration-300 ease-out absolute bottom-0 left-0 right-0"></div>
      </a>
    </nav>
    <a class="inline-flex items-center bg-green-200 border py-1 px-3 focus:outline-none hover:bg-green-300 rounded text-base mt-4 md:mt-0 font-bold hover:cursor-pointer" (click)="cerrarSesion()">
      <span *ngIf="user.nombreUsuario == ''">
        Iniciar sesión
      </span>
      <span *ngIf="user.nombreUsuario != ''">
        {{ user.nombreUsuario }}
      </span>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</header>



