<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="relative flex flex-col items-center justify-center min-h-screen select-none font-mono bg-gradient-to-r from-lime-200 to-green-500 stars">
  <div class="text-center mb-16">
    <h1 class="text-4xl font-bold text-gray-800">Bienvenido a Nutricampus</h1>
    <p class="text-xl text-gray-600">Comienza tu viaje hacia una vida saludable, te brindamos las herramientas.</p>
  </div>
  <div class="grid grid-cols-4 gap-6">

    <div class="col-span-2 flex flex-col items-center">
      <h1 class="px-6 py-3 shadow-lg shadow-gray-500/50 bg-black text-white rounded-lg text-2xl cursor-pointer active:scale-[.97]">
        Crear Dieta
      </h1>
    </div>

    <div class="col-span-2 flex flex-col items-center">
      <h1 class="px-6 py-3 shadow-lg shadow-gray-500/50 bg-black text-white rounded-lg text-2xl cursor-pointer active:scale-[.97]">
        Crear Rutina
      </h1>
    </div>

  </div>
</div>
</body>
</html>



