<!-- component -->
<div class="py-16 bg-white">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
      <div class="md:5/12 lg:w-5/12">
        <img src="https://tailus.io/sources/blocks/left-image/preview/images/startup.png" alt="image" loading="lazy" width="" height="">
      </div>
      <div class="md:7/12 lg:w-6/12">
        <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">Nuestro equipo trabaja constantemente en nuevos cambios</h2>
        <p class="mt-6 text-gray-600">Bienvenidos a NutriCampus, la plataforma líder en educación y recursos nutricionales diseñada para empoderar a estudiantes, profesionales de la salud y entusiastas del bienestar en su viaje hacia una vida más saludable y equilibrada.</p>
        <p class="mt-4 text-gray-600">En NutriCampus, creemos que una nutrición adecuada es la base de un estilo de vida saludable. Nuestro objetivo es proporcionar información basada en la ciencia y herramientas prácticas que puedan ser aplicadas en el día a día. Con una combinación de cursos interactivos, artículos de expertos y una comunidad de apoyo, NutriCampus se dedica a fomentar una comprensión profunda y práctica de la nutrición.</p>
      </div>
    </div>
  </div>
</div>
