<!-- component -->
<div class="flex h-screen">
  <!-- Left Pane -->
  <div class="hidden lg:flex items-center justify-center flex-1 bg-white text-black">

      <img src="assets/img/Foto.jpg" width="" alt="" srcset="" />

  </div>
  <!-- Right Pane -->
  <div class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center">
    <div class="max-w-md w-full p-6">
      <!-- Logo -->
      <div class="flex justify-center mb-6">
        <img src="../../../assets/img/Logo.png" width="110" alt="" />
      </div>
      <h1 class="text-3xl font-semibold mb-6 text-black text-center">Crea tu cuenta en Nutricampus</h1>
      <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">Únete a nuestra comunidad y disfruta los beneficios</h1>

      <form action="#" method="POST" class="space-y-4">
        <div>
          <label for="username" class="block text-sm font-medium text-gray-700">Nombre de usuario</label>
          <input type="text" id="username" name="username" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300">
        </div>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
          <input type="text" id="email" name="email" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300">
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
          <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300">
        </div>
        <div>
          <button type="submit" class="w-full bg-[#ade1ae] text-white p-2 rounded-md hover:bg-[#91c993] focus:outline-none focus:bg-[#ade1ae] focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300">Registrarme</button>
        </div>
      </form>
      <div class="mt-4 text-sm text-gray-600 text-center">
        <p>¿Ya tienes una cuenta? <a href="/login" class="text-black hover:underline">Inicia sesión aquí</a></p>
      </div>
    </div>
  </div>

</div>
