<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Título</title>

  <style>

  </style>
</head>

<body>
<div class="w-full min-h-screen font-sans text-gray-900 bg-gradient-to-br from-transparent to-green-100">
  <nav class="flex justify-between items-center py-8 px-6 mx-auto max-w-screen-xl md:px-12 lg:px-16 xl:px-24">
    <div class="inset-0 transition-all bg-white/70 backdrop-blur-xl z-20 md:static md:bg-transparent md:flex items-center justify-center space-y-8 md:space-y-0 md:space-x-8 flex-col md:flex-row lg:space-x-14 hidden">
    </div>
  </nav>

  <div class="flex flex-wrap-reverse gap-y-24 justify-between py-12 px-6 mx-auto max-w-screen-xl sm:px-8 md:px-12 lg:px-16 xl:px-24">
    <div class="relative z-10 md:w-1/2 w-full">
      <img class="absolute top-0 right-0 md:-top-4 md:-right-8 w-24 h-auto" src="/img/leaf.png" alt="">
      <span class="flex items-center px-1 text-xl text-green">
          <span class="font-medium"> NutriCampus </span>
          <img class="w-auto h-8" src="assets/img/Pink.png" alt="">
        </span>
      <h1 class="pt-4 text-4xl sm:text-5xl lg:text-6xl font-bold tracking-tighter leading-tight whitespace-nowrap">
        Alimentate y ejericitate <br>
        con consciencia, <br>
        <span class="whitespace-nowrap text-green"> vive con plenitud. </span>
      </h1>
      <p class="pt-8 sm:text-lg max-w-md font-normal text-gray-600 leading-relaxed">
        ¡Únete a la experiencia de manejar tus hábitos y cuidar de ti de la forma más sencilla!
      </p>
      <div class="flex pt-8 space-x-4 sm:space-x-6">
        <button class="flex justify-center items-center w-full sm:w-auto h-13 px-8 bg-white font-medium text-white rounded-xl whitespace-nowrap hover:shadow-primary transition-shadow duration-300">
          Crear dieta
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>

        </button>
        <button class="flex justify-center items-center w-full sm:w-auto h-13 px-8 font-medium text-gray-900 border border-gray-900 rounded-xl whitespace-nowrap hover:shadow-xl transition-shadow duration-300">
          Crear rutina
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </button>
      </div>
      <div class="flex pt-20">
        <div class="w-13 h-13 rounded-full border-4 border-white object-cover overflow-hidden">
        <img class="w-20" src="/assets/img/Fit1.jpg" alt="">
          </div>
        <div class="pt-5 pl-3">
          <div class="text-xl font-bold leading-relaxed">Creamos la rutina</div>
          <div class="inline-flex text-gray-600 leading-relaxed">
            Más adecuada para ti
          </div>
          <div class="font-bold text-green leading-relaxed">Mediante IA</div>
        </div>
      </div>
      <div>
        <div class="flex md:hidden pt-8 justify-end space-x-1 font-bold">

        </div>
      </div>
    </div>

    <div class="relative md:w-1/2 w-full flex flex-col justify-between">
      <img class="w-450 lg:w-full drop-shadow-2xl self-center lg:self-end" src="assets/img/dish.png" alt="">
      <div class="absolute right-0 lg:-right-6 top-0 lg:top-28 flex flex-col py-5 px-7 rounded-2xl shadow-xl bg-white/80 backdrop-blur-xl hover:-translate-y-2 hover:shadow-2xl transition-all duration-300">
        <div class="flex -space-x-3">
          <div class="w-13 h-13 rounded-full border-4 border-white object-cover overflow-hidden">
            <img src="assets/img/Avatar-1.jpg" alt="" height="45" width="35">
          </div>
          <div class="w-13 h-13 rounded-full border-4 border-white object-cover overflow-hidden">
            <img src="assets/img/Avatar-3.jpg" alt="" height="45" width="35">
          </div>
          <div class="w-13 h-13 rounded-full border-4 border-white object-cover overflow-hidden">
            <img src="assets/img/Avatar-2.jpg" alt="" height="45" width="35">
          </div>
          <div class="w-13 h-13 rounded-full border-4 border-white object-cover overflow-hidden">
            <img src="assets/img/Avatar-4.jpg" alt="" height="45" width="35">
          </div>
        </div>




        <div class="pt-3 font-bold">Únete a la comunidad</div>
        <div class="flex items-center text-gray-600 leading-relaxed">
          <span>&#9733;</span>
          <span class="pl-1">4.9 (+2.5k Ratings)</span>
        </div>
      </div>
      <div class="absolute left-0 bottom-0 md:bottom-32 lg:bottom-16 flex bg-white/80 rounded-2xl shadow-xl backdrop-blur-xl hover:-translate-y-2 hover:shadow-2xl transition-all duration-300">
        <div class="w-13 h-13 rounded-full border-4 border-white object-cover overflow-hidden">
        <img class="w-auto h-20 self-end" src="assets/img/Fit2.jpg" alt="">
          </div>
        <div class="pr-7 pl-2 py-5">
          <div class="font-bold">Tu plan alimenticio ideal</div>
          <div class="text-gray-600 leading-relaxed">¡En solo 3 clicks! 🚀</div>
        </div>
      </div>

    </div>
  </div>
</div>


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap w-full">
      <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-green-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">SEGURIDAD</h2>
            <p class="leading-relaxed">NutriCampus está diseñada con la máxima seguridad en mente, además utilizamos tecnología de cifrado de vanguardia para proteger tus datos personales.</p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-green-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">SALUD</h2>
            <p class="leading-relaxed">Con nuestra aplicación, tendrás acceso a información nutricional precisa y recomendaciones saludables respaldadas por profesionales en nutrición.</p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-green-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <circle cx="12" cy="5" r="3"></circle>
              <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">OBJETIVOS</h2>
            <p class="leading-relaxed">Ya sea que desees perder peso, ganar masa muscular o simplemente mejorar tu alimentación, nuestra aplicación te ayudará a establecer objetivos claros y alcanzables.</p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-green-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">SEGUIMIENTO PERSONALIDAZADO</h2>
            <p class="leading-relaxed">Gracias a nuestra función de seguimiento con inteligencia artifical podrás registrar tus comidas, ejercicios y hábitos diarios fácilmente.</p>
          </div>
        </div>
        <div class="flex relative">
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-green-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">METAS</h2>
            <p class="leading-relaxed">Al utilizar nuestra aplicación de nutrición, nos comprometemos a ayudar con todas las metas que te propongas.</p>
          </div>
        </div>
      </div>
      <img class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12" src="assets/img/Saludable.png" alt="step">
    </div>
  </div>
</section>






<script>

</script>
</body>

</html>

